<div class="container">
  <h4>マイページ</h4>
  <%= link_to "編集する", public_edit_path(@customer), class: "btn btn-success ml-5" %>

  <table class="col-8 table table-bordered mt-3 mb-6">
    <tr>
      <td class="table-active border-dark col-4">氏名</td>
      <td class="border border-dark"><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>

    <tr>
      <td class="table-active border-dark">カナ</td>
      <td class="border border-dark"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>

    <tr>
      <td class="table-active border-dark">郵便番号</td>
      <td class="border border-dark"><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <td class="table-active border-dark">住所</td>
      <td class="border border-dark"><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="table-active border-dark">電話番号</td>
      <td class="border border-dark"><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td class="table-active border-dark">メールアドレス</td>
      <td class="border border-dark"><%= @customer.email %></td>
    </tr>
  </table>
</div>