<div class="container mt-3">
  <div class="row">
    <div class="col-md-10">

      <h4>マイページ</h4>

      <div class="d-flex align-items-end">
        <h5><strong>登録情報</strong></h5>
        <%= link_to "編集する", public_edit_path(@customer), class: "btn btn-success ml-5" %>
      </div>

        <table class="col-10 table table-bordered mt-3">
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>

          <tr>
            <td>カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>

          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </table>

        <div class="d-flex align-items-end">
            <h5><strong>配送先</strong></h5>
            <%= link_to "一覧を見る", public_addresses_path, class: "btn btn-primary ml-5" %></td>
        </div>
        <div class="d-flex align-items-end">
            <h5><strong>注文履歴</strong></h5>
            <%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary ml-5 mt-3" %></td>
        </div>
    </div>
  </div>
</div>