<div class="container">
 <div class="admin-item-show pt-1">

  <h4 class="pb-3">商品詳細</h4>
  <div class="row">
    <div class="mt-5 col-md-5">
     <% if @item.image.attached? %>
       <%= image_tag @item.image, size: "300x200" %>
     <% else %>
       <%= image_tag 'no_image', size: "300x200" %>
     <% end %>
    </div>

    <div class="mt-5 col-md-5">
      <div class="row">
        <p class="col-md-4">商品名</p>
        <P class="col-md-8"><%= @item.name %></P>
      </div>

      <div class="row">
        <p class="col-md-4">商品説明</p>
        <P class="col-md-8"><%= @item.introduction %></P>
      </div>

      <div class="row">
        <p class="col-md-4">ジャンル</p>
        <P class="col-md-8"><%= @item.genre_id %></P>
      </div>

      <div class="row">
        <p class="col-md-4">税込価格<br>(税抜価格)</p>
        <P class="col-md-8"><%= @item.price %></P>
      </div>

      <div class="row">
        <p class="col-md-4">販売ステータス</p>
         <P class="col-md-8">
          <% if @item.is_active == true %>
            <span class="text-success">販売中</span>
          <% elsif @item.is_active == false %>
            <span class="text-muted">販売停止中</span>
          <% end %>
         </P>
      </div>
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success btn-lg pull-right" %>
  </div>
 </div>
</div>