<div class="container">
  <div class="row mx-auto col-md-10">
    <h5 class="my-3">
      <span class="px-3">
        商品詳細
      </span>
    </h5>
  </div>

  <table class="table">

    <div class="row mx-auto">
      <div class="mt-5 col-md-5">
       <% if @item.image.attached? %>
         <%= image_tag @item.image, size: "300x200" %>
       <% else %>
         <%= image_tag 'no_image', size: "300x200" %>
       <% end %>
      </div>

      <div class="mt-5 col-md-5">
        <div class="row">
          <p class="col-md-4">商品名</p>
          <P class="col-md-8"><%= @item.name %></P>
        </div>

        <div class="row">
          <p class="col-md-4">商品説明</p>
          <P class="col-md-8"><%= @item.introduction %></P>
        </div>

        <div class="row">
          <p class="col-md-4">ジャンル</p>
          <P class="col-md-8"><%= @item.genre_id %></P>
        </div>

        <div class="row">
          <p class="col-md-4">税込価格<br>(税抜価格)</p>
          <P class="col-md-8">
            <%= @item.with_tax_price %> (<%= @item.price %>)円
          </P>
        </div>

        <div class="row">
          <p class="col-md-4">販売ステータス</p>
           <P class="col-md-8">
            <% if @item.is_active == true %>
              <strong class="text-success">販売中</strong>
            <% else @item.is_active == false %>
              <strong class="text-muted">販売停止中</strong>
            <% end %>
           </P>
        </div>
        <div class="mx-auto">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success col-5" %>
        </div>
    </div>
  </table>
</div>