<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h5 class="mt-5 mb-5">
        <span class="px-3">
          管理者ログイン
        </span>
      </h5>
    </div>
  </div>

    <div class="offset-2">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row mx-auto mb-3">
            <%= f.label :メールアドレス, class: "col-2 col-form-label" %>
          <div class="col-6">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="row mx-auto mb-3">
            <%= f.label :パスワード, class: "col-2 col-form-label" %>
          <div class="col-6">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="actions mx-auto col-6 mt-5">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>

    </div>
</div>
