<div class="container">

  <div class="row">
    <h3>ショッピングカート</h3>
    <%= link_to "カートを空にする", public_cartitems_destroy_all_path, method: :delete, class: "btn btn-danger d-inline ml-auto", "data-confirm" => "カート内の商品を削除してもよろしいですか？" %>
  </div>

  <div class="cartitems-index">
    <table class="mt-5 mb-5 table table-bordered">
      <thead>
        <tr class="table-active">
          <td class="border border-dark">商品名</td>
          <td class="border border-dark">単価(税込)</td>
          <td class="border border-dark">数量</td>
          <td class="border border-dark">小計</td>
          <td class="border border-dark"></td>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="border border-dark"><%= cart_item.item.name %></td>
            <td class="border border-dark"><%= cart_item.item.with_tax_price %></td>
            <td class="border border-dark">

            </td>
            <td class="border border-dark"><%= cart_item.subtotal %></td>
            <td class="border border-dark text-center"><%= link_to "削除する", public_cartitems_path(cart_item), method: :delete, class: "btn btn-danger", "data-confirm" => "#{cart_item.item.name}を削除してもよろしいですか？" %></td>
          </tr>
        <!--end-->
      </tbody>
    </table>
  </div>

  <div class="row">

    <%= link_to "買い物を続ける", root_path, class: "col-3 btn btn-primary" %>

    <table class="col-4 ml-auto table table-bordered border-dark">
      <tbody>
        <tr>
          <td class="border border-dark table-active">合計金額</td>
          <td class="border border-dark"><% @合計金額 += cart_item.subtotal %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<!--情報入力に進む-->

</div>