<div class="container">

    <div class="row mt-3">
      <div class="mx-auto">
        <h4 class="bg-light text-dark text-center p-5">
          ようこそながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </h4>
      </div>
    </div>

    <h2>新着商品</h2>

      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-5">
          <%= link_to items_path(item.id) do %>
          <%= image_tag item.get_image, size: "170x120" %>
          <% end %>
          <div class="row">
            <div class="col-md-6">
              <%= item.name %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              ¥<%= item.price.to_s(:delimited) %>
            </div>
          </div>

        </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-12 offset-10 mt-4">
          <div >
            <%= link_to "全ての商品を見る>", items_path %>
           </div>
        </div>
      </div>
</div>