<div class="container">
  <h4 class="pb-3"><%= @customer.last_name %>さんの会員情報編集</h4>
  <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
    <table class="w-100 admin-customer-edit">
      <tr class="row pb-3">
        <td class="col-md-4">会員ID</td>
        <td class="col-md-8"><%= @customer.id %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">氏名</td>
        <td class="col-md-8">
          <%= f.text_field :last_name, class: "mr-4" %>
          <%= f.text_field :first_name %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">フリガナ</td>
        <td class="col-md-8">
          <%= f.text_field :last_name_kana, class: "mr-4" %>
          <%= f.text_field :first_name_kana %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">郵便番号</td>
        <td class="col-md-8">
          <%= f.text_field :postal_code %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">住所</td>
        <td class="col-md-8">
          <%= f.text_field :address, class: "w-100" %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">電話番号</td>
        <td class="col-md-8">
          <%= f.text_field :telephone_number %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">メールアドレス</td>
        <td class="col-md-8">
          <%= f.email_field :email %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4">会員ステータス</td>
        <td class="col-md-8">

            <%= f.label :is_deleted, '無効', value: true %>

            <%= f.label :is_deleted, '有効', value: false %>
        </td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-4"></td>
        <td class="col-md-8">
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>