<div class="container">
  <div class="admin-customer-show pt-3">
    <h4 class="pb-3"><%= @customer.full_name %>さんの会員詳細</h4>

    <table class="w-100 admin-customer-show">
      <tr class="row pb-3">
        <td class="col-md-4">会員ID</td>
        <td class="col-md-8"><%= @customer.id %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">氏名</td>
        <td class="col-md-8"><%= @customer.full_name %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">フリガナ</td>
        <td class="col-md-8"><%= @customer.full_name_kana %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">郵便番号</td>
        <td class="col-md-8"><%= @customer.postal_code %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">住所</td>
        <td class="col-md-8"><%= @customer.address %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">電話番号</td>
        <td class="col-md-8"><%= @customer.telephone_number %></td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4">メールアドレス</td>
        <td class="col-md-8"><%= @customer.email %></td>
      </td>

      <tr class="row pb-3">
        <td class="col-md-4">会員ステータス</td>
        <td class="col-md-8">
          <% if @customer.is_deleted == true %>
            <p class="text-secondary">退会済</p>
          <% else %>
            <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>

      <tr class="row pb-3">
        <td class="col-md-4"></td>
        <td class="col-md-8">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mr-5 ", type: "button" %>
          <%= link_to "注文履歴一覧を見る", admin_path(@customer), class: "btn btn-info", type: "button" %>
        </td>
      </tr>
    </table>
  </div>
</div>