<div class="container">
  <div class="admin-customer-show pt-5">
    <h4 class="pb-3"><%= @customer.last_name %>さんの会員詳細</h4>
    <table>
      <tr class="row pb-3">
        <td class="col-md-2">会員ID</td>
        <td class="col-md-10"><%= @customer.id %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">氏名</td>
        <td class="col-md-10"><%= @customer.last_name %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">フリガナ</td>
        <td class="col-md-10"><%= @customer.last_name_kana %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">郵便番号</td>
        <td class="col-md-10"><%= @customer.postal_code %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">住所</td>
        <td class="col-md-10"><%= @customer.address %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">電話番号</td>
        <td class="col-md-10"><%= @customer.telephone_number %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">メールアドレス</td>
        <td class="col-md-10"><%= @customer.email %></td>
      </tr>
      <tr class="row pb-3">
        <td class="col-md-2">会員ステータス</td>
        <td class="col-md-10">
          <% if @customer.is_deleted == true %>
            <p class="text-secondary">退会済</p>
          <% else %>
            <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
      <tr class="row">
        <td class="col-md-2"></td>
        <td class="col-md-10">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mr-5", type: "button" %>
          <%= link_to "注文履歴一覧を見る", admin_path(@customer), class: "btn btn-info", type: "button" %>
        </td>
      </tr>
    </table>
  </div>
</div>