<div class="container">
  <h4 class="pb-3">配送先編集</h4>
    <div class="col-md-12 mx-auto">
      <%= form_with model: @address, url: edit_public_address_path do |f| %>
      <table class="table">
        <tr class="row">
          <td class="col-md-4">郵便番号(ハイフンなし)</td>
          <td class="col-md-8"><%= f.text_field :postal_code %></td>
        </tr>

        <tr class="row">
          <td class="col-md-4">住所</td>
          <td class="col-md-8"><%= f.text_field :address, class: "col-8" %></td>
        </tr>

        <tr class="row">
          <td class="col-md-4">宛名</td>
          <td class="col-md-4"><%= f.text_field :name %></td>
          <td class="col-md-4"><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
</div>