<div class="container">

    <% if @address.errors.any? %>
　    <div id="error_explanation">
　      <h2><%= @address.errors.count %> error prohibited this book from being saved:　</h2>
        <ul>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <h4 class="pb-3">配送先登録/一覧</h4>
      <%= form_with model: @address, url: addresses_path do |f| %>
      <table class="w-100 public-addresses-index">
        <tr class="row pb-3">
          <td class="col-md-3">郵便番号(ハイフンなし)</td>
          <td class="col-md-8">
            <%= f.text_field :postal_code %>
          </td>
        </tr>

        <tr class="row pb-3">
          <td class="col-md-3">住所</td>
          <td class="col-md-8">
            <%= f.text_field :address, class: "col-8" %>
          </td>
        </tr>

        <tr class="row pb-3">
          <td class="col-md-3">宛名</td>
          <td class="col-md-8">
            <%= f.text_field :name %>
            <%= f.submit "新規登録", class: "btn btn-success ml-5 col-2" %>
          </td>
        </tr>
      </table>
      <% end %>

      <div class="row">
        <div class="col-md-8 pt-5">
          <table class="table table-hover table-bordered table-condensed">
            <thead>
              <tr>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td class="col-md-2"><%= address.postal_code %></td>
                <td class="col-md-4"><%= address.address %></td>
                <td class="col-md-2"><%= address.name %></td>
                <td class="text-center">
                  <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
                  <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
                </td>
              <tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

</div>
