<div class="container">
    <% if @address.errors.any? %>
　    <div id="error_explanation">
　      <h2><%= @address.errors.count %> error prohibited this book from being saved:　</h2>
        <ul>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <h4>配送先登録/一覧</h4>
      <%= form_with model: @address, url: public_addresses_path do |f| %>
      <table class="w-100 public-addresses-index">
        <tr class="row pb-3">
          <td class="col-md-3">郵便番号(ハイフンなし)</td>
          <td class="col-md-8">
            <%= f.text_field :postal_code %>
          </td>
        </tr>

        <tr class="row pb-3">
          <td class="col-md-3">住所</td>
          <td class="col-md-8">
            <%= f.text_field :address, class: "col-8" %>
          </td>
        </tr>

        <tr class="row pb-3">
          <td class="col-md-3">宛名</td>
          <td class="col-md-8">
            <%= f.text_field :name %>
            <%= f.submit "新規登録", class: "btn btn-success ml-5 col-2" %>
          </td>
        </tr>
      </table>
      <% end %>

</div>
