<div class="contaier">
  <h4>新規会員登録</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

        <div class="row">
          <label class="col-lg-3">名前</label>
          <div class="col-lg-3">
            <%= f.text_field :last_name,autoforcus: true, autocomplete: "last_name",  placeholder: "(姓)" %>
          </div>
          <div class="col-lg-3">
            <%= f.text_field :first_name,autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">フリガナ</label>
          <div class="col-lg-3">
            <%= f.text_field :last_name_kana,autoforcus: true, autocomplete: "last_name_kana",  placeholder: "(セイ)" %>
          </div>
          <div class="col-lg-3">
            <%= f.text_field :first_name_kana,autoforcus: true, autocomplete: "first_name_kana",  placeholder: "(メイ)" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">メールアドレス</label>
          <div class="col-lg-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">郵便番号(ハイフンなし)</label>
          <div class="col-lg-3">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">住所</label>
          <div class="col-lg-3">
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">電話番号</label>
          <div class="col-lg-3">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">パスワード
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %></label>
          <div class="col-lg-3">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">パスワード(確認用)</label>
          <div class="col-lg-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>

    <h4>既に登録済みの方</h4>
    <div class="col-lg-3">
      <%- if controller_name != 'sessions' %>
        <%= link_to "こちら", new_session_path(resource_name) %>
      <% end %>
      からログインしてください。
    </div>
    <% end %>

</div>
