<div class="contaier mt-5">
  <div class="row">
    <div class="mx-auto">
      <h4>新規会員登録</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

            <table class="table">
              <tbody>
                <tr>
                  <div class="field">
                    <td>名前</td>
                    <td><%= f.label "(姓)" %></td>
                    <td><%= f.text_field :first_name %></td>
                    <td><%= f.label "(名)" %></td>
                    <td><%= f.text_field :last_name %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td>フリガナ</td>
                  <td><%= f.label "(セイ)" %></td>
                  <td><%= f.text_field :first_name_kana %></td>
                  <td><%= f.label "(メイ)" %></td>
                  <td><%= f.text_field :last_name_kana %></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td><%= f.label "メールアドレス" %></td>
                  <td></td>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td><%= f.label "郵便番号(ハイフンなし)" %></td>
                  <td></td>
                  <td><%= f.text_field :postal_code %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td><%= f.label "住所" %></td>
                  <td></td>
                  <td><%= f.text_field :address %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td><%= f.label "電話番号(ハイフンなし)" %></td>
                  <td></td>
                  <td><%= f.text_field :telephone_number %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td>
                    <%= f.label "パスワード" %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> 文字以上)</em>
                    <% end %>
                  </td>
                  <td></td>
                  <td><%= f.password_field :password, autocomplete: "new-password" %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <div class="field">
                  <td><%= f.label "パスワード(確認用)" %></td>
                  <td></td>
                  <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                  <td></td>
                  <td></td>
                  </div>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="actions">
                      <%= f.submit "新規登録", class: "btn btn-success mt-4" %>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h4 class="title_name">既に登録済みの方</h4>
      <p>
        <%= link_to "こちら", new_customer_session_path %>
        からログインしてください
      </p>
    </div>
  </div>
</div>
