<div class="container">
  <div class="row">
    <% if @order.errors.any? %>
　    <div id="error_explanation">
　      <h2><%= @order.errors.count %> error prohibited this book from being saved:　</h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-12">
      <h4>注文情報入力</h4>
      <%= form_with model: @order, url: confirm_public_orders_path do |f| %>
        <h5><strong>支払方法</strong></h5>
        <div class="payment_method">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        </div>
        <div class="payment_method">
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>

        <h5><strong>支払方法</strong></h5>
        <div class="address">
          <%= f.radio_button :address, 0 %>
          <%= f.label :address, "ご自身の住所" %><br>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %><br>
          <%= current_customer.first_name %><%= current_customer.last_name %>
        </div>

        <div class="address">
          <%= f.radio_button :address, 1 %>
          <%= f.label :address, "登録済住所から選択" %><br>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :name) %>
        </div>

        <div class="address">
          <%= f.radio_button :address, 2 %>
          <%= f.label :address, "新しいお届け先" %><br>
            <table class="table">
              <tr class="row">
                <td class="col-md-3">郵便番号(ハイフンなし)</td>
                <td class="col-md-8">
                  <%= f.text_field :postal_code %>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-3">住所</td>
                <td class="col-md-8">
                  <%= f.text_field :address, class: "col-8" %>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-3">宛名</td>
                <td class="col-md-8">
                  <%= f.text_field :name %>
                </td>
              </tr>

              <tr class="row mx-auto">
                <td>
                <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
                </td>
              </tr>
            </table>
        </div>
      <% end %>
    </div>
  </div>
</div>