<div class="container">
  <div class="row">
    <h5 class="my-5">
      <span class="px-3">
        注文履歴詳細
      </span1>
    </h5>
  </div>

  <div class="row mb-2">
    <div class="col-2 offset-1">
      <strong>購入者</strong>
    </div>
    <div class="col-5">
      <%= @order.customer.last_name %>
      <%= @order.customer.first_name %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2 offset-1">
      <strong>注文日</strong>
    </div>
    <div class="col-5">
      <%= @order.created_at.strftime("%Y-%m-%d") %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2 offset-1">
      <strong>配送先</strong>
    </div>
    <div class="col-5">
      〒<%= @order.postal_code %>
      <%= @order.address %>
    </div>
    <div class="offset-3 col-5">
      <%= @order.name %>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-2 offset-1">
      <strong>支払方法</strong>
    </div>
    <div class="col-5">
      <%= @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row">
    <div class="col-7 offset-1">
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th class="col-1">商品名</th>
            <th class="col-1">単価(税込)</th>
            <th class="col-1">数量</th>
            <th class="col-1">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail|%>
            <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.item.with_tax_price.to_s(:delimited) %>
              </td>
              <td>
                <%= order_detail.amount %>
              </td>
              <td>
                <%= order_detail.subtotal.to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="col-4 align-self-end">
      <div class="row justify-content-between">
        <div class="col-6">
          <strong>商品合計</strong>
        </div>
        <div class="col-6">
          <%= (@order.total - @order.shipping_cost).to_s(:delimited) %>円
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6">
          <strong>送料</strong>
        </div>
        <div class="col-6">
          <%= @order.shipping_cost %>円
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-6">
          <strong>請求金額合計</strong>
        </div>
        <div class="col-6">
          <%= @order.total.to_s(:delimited) %>円
        </div>
      </div>

    </div>
</div>