<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h4 class="signin-title mb-5">ログイン</h4>

      <h5 class="mb-3">会員の方はこちらからログイン</h5>

      <div class="table">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <table class="table">
          <tbody>
            <tr>
              <div class="field">
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
              <td><%= f.label :"パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
        <h5>会員登録がお済みでない方</h5><br>
        <p><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行なってください</p>
    </div>
  </div>
</div>
