<div class="container">
  <div class="public-item-index-row">
    <div class="col-md-9 mx-auto">
      <h2 class="mt-3">商品一覧(全<%= @items.all.count %>件)</h2>
      <div class="d-flex flex-wrap mx-auto justify-content-center">
      <% @items.each do |item| %>
      <span class="ml-3">
      <div class="item-container">
        <%= link_to public_item_path(item.id) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "150x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "150x100" %>
        <% end %>
        <% end %>
        <p>
          <%= link_to public_item_path(item.id), class: "btn-link text-dark" do %>
            <%= item.name %>
          <% end %>
        </p>
        <p><%= item.price %> 円</p>
      </div>
      </span>
      <% end %>
      </div>
    </div>
  </div>
</div>