<!DOCTYPE html>
<html>
  <head>
    <title>SweetsApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light p-4">
        <div class="container">
          <a class="navbar-brand" href="/">NaganoCAKE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
              <li class="customer-name">
                ようこそ、<%= current_customer.full_name %> さん
              </li>
              <li class="ml-4">
                <%= link_to "マイページ", public_customers_my_page_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="ml-4">
                <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="ml-4">
                <%= link_to "カート", public_cartitems_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="ml-4 mr-4">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="ml-4">
                <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-dark' %>
              </li>
              <li class="ml-4">
                <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-dark' %>
              </li>
              <li class="ml-4">
                <%= link_to "注文履歴一覧", admin_path, class: 'btn btn-outline-dark' %>
              </li>
              <!--ジャンル一覧-->
              <li class="ml-4">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
              </li>
            <% else %>
              <li class="ml-4">
                <%= link_to "About", about_path, class: 'btn btn-outline-dark' %>
              </li>
              <li class="ml-4">
                <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-dark' %>
              </li>
              <li class="ml-4">
                <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-dark' %>
              </li>
              <li class="ml-4">
                <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-dark' %>
              </li>

            </ul>
          </div>
        </div>
      </nav>
      <% end %>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container"></div>
    </footer>

  </body>
</html>
